annotated-types==0.8.0
attrs==26.1.0
aws-cdk-lib==2.271.0
aws-cdk.asset-awscli-v1==2.2.292
aws-cdk.asset-node-proxy-agent-v6==2.1.2
aws-cdk.aws-elasticache-alpha==2.271.0a0
aws-cdk.cloud-assembly-schema==54.25.0
boto3==1.43.89
botocore==1.43.89
cattrs==26.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
constructs==10.8.1
coverage==7.16.0
cryptography==50.0.1
idna==3.19
iniconfig==2.3.0
jmespath==1.1.0
jsii==1.140.0
MarkupSafe==3.0.3
moto==5.2.3
packaging==26.3
pillow==11.3.0
pluggy==1.6.0
publication==0.0.3
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==8.4.2
pytest-cov==7.1.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
responses==0.26.3
s3transfer==0.19.2
six==1.17.0
typeguard==2.13.3
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
xmltodict==1.0.4
